<h1 class="PageHeading left_align">Your Patients</h1>
<div class="flex_group clinician_text">
    <div class="width75">
        <div class="flex_group margin_5">
            <p class="margin_bottom_s">Click on a patient's name to see more of their data. Each patient's most recent data points are displayed.</p>
            <div class="flex_group">
                <p><a href="/clinician/left" class="flex_around_margin_right">{{arrows.left}}</a></p>
                <p>{{curr_page}} of {{total_pages}}</p>
                <p><a href="/clinician/right" class="flex_around_margin_left">{{arrows.right}}</a></p>
            </div>
        </div>

        <table class="data_viewing_table">
            <thead>
                <tr class="tableHeader table_corner_top_left table_corner_top_right">
                    <th class="table_corner_top_left">
                        <div class="row_header">Name</div>
                    </th>
                    <th>
                        <div class="row_header">
                            <div class="row_image">
                                <object
                                    data="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9efb134c-4fb5-49a4-8702-6128f4b45dc6/df4hp6r-135ec83f-52fa-4448-91c1-7c6983479b4d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzllZmIxMzRjLTRmYjUtNDlhNC04NzAyLTYxMjhmNGI0NWRjNlwvZGY0aHA2ci0xMzVlYzgzZi01MmZhLTQ0NDgtOTFjMS03YzY5ODM0NzliNGQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.C8fZTpyvrY1NHTMgOkWBbC2B0UL9BrYoaOLj6AaG_ls"></object>
                            </div>
                            <div>
                                Insulin Doses
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="row_header">
                            <div class="row_image">
                                <object
                                    data="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9efb134c-4fb5-49a4-8702-6128f4b45dc6/df4hp6a-9238d58d-16f8-4006-835c-25f38fb1f0e4.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzllZmIxMzRjLTRmYjUtNDlhNC04NzAyLTYxMjhmNGI0NWRjNlwvZGY0aHA2YS05MjM4ZDU4ZC0xNmY4LTQwMDYtODM1Yy0yNWYzOGZiMWYwZTQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.dS51DPwQN5g3NY7SsCfuZAcGV6bUW1W-6PdfV2FVtUg"></object>
                            </div>
                            <div>
                                Blood Glucose (nmol/L)
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="row_header">
                            <div class="row_image">
                                <object
                                    data="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9efb134c-4fb5-49a4-8702-6128f4b45dc6/df4hp6e-70958146-bc3f-41b6-9115-c89a1504aab4.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzllZmIxMzRjLTRmYjUtNDlhNC04NzAyLTYxMjhmNGI0NWRjNlwvZGY0aHA2ZS03MDk1ODE0Ni1iYzNmLTQxYjYtOTExNS1jODlhMTUwNGFhYjQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.5jOroSM0WUbHGyuOlfaSZQL8BAqbZaa8mM5b7a5vIPs"></object>
                            </div>
                            <div>
                                Weight (kg)
                            </div>
                        </div>
                    </th>
                    <th class="table_corner_top_right">
                        <div class="row_image">
                            <object
                                data="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9efb134c-4fb5-49a4-8702-6128f4b45dc6/df4hp6m-e1878a25-6d84-41be-ab3b-121d6c25549d.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzllZmIxMzRjLTRmYjUtNDlhNC04NzAyLTYxMjhmNGI0NWRjNlwvZGY0aHA2bS1lMTg3OGEyNS02ZDg0LTQxYmUtYWIzYi0xMjFkNmMyNTU0OWQucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.N3jeNUbWsdyOkXfPTN_apFFCqwb0ho0pcAOinaoVII4"></object>
                        </div>
                        <div>
                            Exercise (Steps)
                        </div>
                    </th>
                </tr>
            </thead>
            {{{tbody}}}
        </table>

        <div class="flex_group center_text top_bottom_margin flex_around">
            <p><a href="left" class="flex_around_margin_right">{{arrows.left}}</a></p>
            <p>{{curr_page}} of {{total_pages}}</p>
            <p><a href="right" class="flex_around_margin_left">{{arrows.right}}</a></p>
        </div>

        <div class="flex_group margin_bottom">
            <div>
                <p>Table key:</p>
            </div>
            <div>
                <div class="flex_group">
                    <div class="color_box pink margin_5"></div>
                    <h3>
                        May Require Attention
                    </h3>
                </div>
            </div>

            <div>
                <div class="flex_group">
                    <div class="color_box blue margin_5"></div>
                    <h3>
                        Complete
                    </h3>
                </div>
            </div>

            <div>
                <div class="flex_group">
                    <div class="color_box grey margin_5"></div>
                    <h3>
                        Incomplete
                    </h3>
                </div>
            </div>

            <div>
                <div class="flex_group">
                    <div class="color_box white margin_5"></div>
                    <h3>
                        Not being monitored
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="patient_features">

        <a href="new_patient">
            <button class="btn btn-colour-primary btn_big" id="btn_add_patient">Add Patient</button>
        </a>

        <div class="comment_container">
            <div class="comment_section">

                <h2 class="center_text">Patient comments</h2>

                {{#each entries}}
                    {{#if this.comment}}
                        <div>
                            <div class="speech_bubble speech_bubble_contrast about_speech_bubble">
                                <h3>{{this.name}} {{this.date}}</h3>
                                <p>{{this.comment}}</p>
                            </div>
                            <object class="speech_bubble_point"
                                data="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9efb134c-4fb5-49a4-8702-6128f4b45dc6/df4hp79-19039e4b-02fd-4450-89da-f1732b6526b9.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzllZmIxMzRjLTRmYjUtNDlhNC04NzAyLTYxMjhmNGI0NWRjNlwvZGY0aHA3OS0xOTAzOWU0Yi0wMmZkLTQ0NTAtODlkYS1mMTczMmI2NTI2YjkucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.buCvMy8w2anRVGwUrIVu_yF1wELAq57eiKgBgqP_m5A"></object>
                        </div>
                    {{/if}}
                {{/each}}

            </div>

        </div>

        <a href="/clinician/view_all_comments">
            <p class="top_bottom_margin">View all patient comments ></p>
        </a>

    </div>